html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  background: #eeeeee;
  overflow: hidden;
  font-family: fantasy, monospace, serif; }

.page {
  display: block; }
  .page.off {
    display: none; }

.welcome {
  position: relative;
  padding: .5em 0 .5em .5em;
  width: 75%;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 1.5em;
  font-size: calc(1em + 3vw);
  background: white;
  word-wrap: break-word; }
  .welcome .arrow {
    position: absolute;
    left: calc(50% - .4em);
    top: 102%;
    width: 0;
    height: 0;
    border: .4em solid;
    border-color: black transparent transparent transparent; }

.robot {
  display: inline-block;
  position: relative;
  left: calc(50% - 2.5vw - 35px);
  top: 2.5vw;
  max-width: 10vw;
  max-height: 12vw;
  min-width: 75px;
  min-height: 90px;
  cursor: pointer; }
  .robot img {
    width: 100%;
    height: 100%; }

.home, .about, .contact {
  position: relative;
  width: 100vw;
  height: 100vh; }
  .home .header, .about .header, .contact .header {
    position: relative;
    width: 100%;
    height: 20%;
    background: #2c2c2c;
    color: white;
    font-size: 15vh;
    opacity: 0.01; }
    .home .header span, .about .header span, .contact .header span {
      position: relative;
      opacity: 0.01;
      top: 20%; }
  .home .content, .about .content, .contact .content {
    position: relative;
    width: 100%;
    height: 60%;
    background: transparent; }
    .home .content div, .about .content div, .contact .content div {
      position: absolute;
      display: inline-block;
      cursor: pointer; }
      .home .content div:hover, .about .content div:hover, .contact .content div:hover {
        opacity: .6; }
      .home .content div.leftArrow, .about .content div.leftArrow, .contact .content div.leftArrow {
        position: absolute;
        left: calc(25vw - 2vw);
        top: calc(25vh);
        font-size: 8vw; }
        .home .content div.leftArrow:after, .about .content div.leftArrow:after, .contact .content div.leftArrow:after {
          content: attr(data-arrowTip);
          position: absolute;
          left: -30%;
          top: 100%;
          font-size: .4em;
          color: #434343;
          font-family: fantasy, monospace, serif; }
      .home .content div.rightArrow, .about .content div.rightArrow, .contact .content div.rightArrow {
        position: absolute;
        left: calc(75vw - 4vw);
        top: calc(25vh);
        font-size: 8vw; }
        .home .content div.rightArrow:after, .about .content div.rightArrow:after, .contact .content div.rightArrow:after {
          content: attr(data-arrowTip);
          position: absolute;
          left: -30%;
          top: 100%;
          font-size: .4em;
          color: #434343;
          font-family: fantasy, monospace, serif; }
      .home .content div.mainContent, .about .content div.mainContent, .contact .content div.mainContent {
        left: calc(50% - 4vw - 25px);
        top: calc(50% - 4vw - 25px);
        font-size: calc(8vw + 50px); }
  .home .footer, .about .footer, .contact .footer {
    position: relative;
    width: 100%;
    height: 20%;
    background: #2c2c2c;
    opacity: 0.01; }

.panel {
  position: absolute;
  padding: .5em 0 .5em .5em;
  width: 60%;
  height: calc(100vh - 1em - 10px);
  left: 20%;
  top: 0;
  border: 5px solid black;
  border-radius: 1.5em;
  z-index: 10;
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: DFKai-SB, Microsoft YaHei;
  font-size: 2vw; }
  .panel.p1 > div {
    display: block;
    width: 65%;
    position: relative; }
  .panel.p1 > div:nth-child(odd) {
    position: relative;
    float: left; }
    .panel.p1 > div:nth-child(odd) > div {
      display: inline-block;
      width: 45%;
      opacity: 0.01; }
    .panel.p1 > div:nth-child(odd) > div:first-child {
      float: left; }
    .panel.p1 > div:nth-child(odd) > div:last-child {
      position: absolute;
      top: 20%;
      word-break: break-all; }
  .panel.p1 > div:nth-child(even) {
    float: right; }
    .panel.p1 > div:nth-child(even) > div {
      display: inline-block;
      width: 45%;
      opacity: 0.01; }
    .panel.p1 > div:nth-child(even) > div:first-child {
      position: absolute;
      top: 20%;
      word-break: break-all; }
    .panel.p1 > div:nth-child(even) > div:last-child {
      float: right; }
  .panel.p2 > div {
    position: relative;
    width: 100%; }
    .panel.p2 > div > h1, .panel.p2 > div > hr, .panel.p2 > div > p {
      opacity: 0.01; }
    .panel.p2 > div > h1 {
      font-size: 6vw;
      text-align: center;
      color: #383838; }
    .panel.p2 > div > hr {
      width: 80%;
      margin: 1em auto; }
    .panel.p2 > div > p {
      width: 80%;
      margin: 0 auto;
      font-size: 3vw;
      color: #525252; }
  .panel.p2 > div:first-child {
    min-height: 50%; }
  .panel.p2 > div:last-child {
    min-height: 50%; }
  .panel.p3 {
    font-family: fantasy, monospace, serif;
    overflow-y: hidden; }
    .panel.p3 > form {
      position: relative;
      margin: 0 auto;
      width: 90%;
      height: 80%; }
      .panel.p3 > form > div {
        width: 80%;
        margin: 0 auto;
        height: 30%; }
        .panel.p3 > form > div > label {
          display: block;
          text-align: center;
          font-size: 7vh;
          opacity: 0.01; }
        .panel.p3 > form > div > input[type=text] {
          display: block;
          margin: 5% auto;
          width: 80%;
          font-size: 1em;
          opacity: 0.01;
          border: 2px dashed black; }
        .panel.p3 > form > div > textarea {
          margin: 5% auto;
          width: 99%;
          height: 75%;
          resize: none;
          font-size: 1em;
          opacity: 0.01;
          border: 2px dashed black; }
    .panel.p3 > button {
      opacity: 0.01;
      display: block;
      width: 20%;
      margin: 4% auto 0 auto;
      height: 15%;
      font-size: 125%;
      font-weight: bold;
      border: 1px solid black;
      border-radius: .2em;
      text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.5);
      box-shadow: 0 -0.05em 0.25em rgba(0, 0, 0, 0.5);
      background: #242424 linear-gradient(rgba(255, 255, 255, 0.2), transparent); }
      .panel.p3 > button:active {
        background: #242424 linear-gradient(rgba(255, 255, 255, 0.1), transparent); }
  .panel.off {
    display: none; }

.backScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(3, 3, 3, 0.5); }
  .backScreen.off {
    display: none; }

/*# sourceMappingURL=index.css.map */
